body,
h3 {
    font: 14px Arial;
    margin: 3px;
}

video,
canvas {
    width: 562px;
    height: 384px;
    margin: -3px;
}

video {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

canvas {
    border: 1px solid black;
}

input[type=range] {
    width: 70%;
}

div {
    width: 100%;
}

input[type=button] {
    margin: 14px 0px;
}

ol,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul:nth-child(1) {
    margin-top: 5px;
}

.screen {
    display: none;
}

#timekeeper > div {
    width: 50%;
    
    float: left;
}